/* .AboutUs {
  max-width: 800px;
  margin: 200px auto;
  text-align: center;
} */

/* body {
  background: #eee;
  text-align: center;
} */

.About {
  font-size:x-large;
  margin: 100px;
  font-style:italic;
  color:rgb(126, 87, 163);

}

.Team {
  font-size:x-large;
  margin: 40px;
  color:#515151;
  text-align: center;
}


/* .card-image {
	display: block;
	min-height: 20rem; 
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); 
} */
/* 
.card-image > img {
	display: block;
	width: 100%;
	opacity: 0;
} */
/* 
.card-image.is-loaded {
	filter: none; 
	transition: filter 1s;
} */


/* 
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
} */

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 60px;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	padding-bottom: 20px;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#515151
}

a {
text-decoration: none;
color:rgb(126, 87, 163);
}