.footer {
    background-color: #9494B6;
}

.footer-stack {
    gap: 10px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-logo {
    width: 125px;
    height: 125px;
}

.footer-nav {
    text-decoration: none;  
    color: black;    
}

#footer-text {
    font-size: 22px;
    padding-bottom: 40px;
}