
.top-videos-text {
    margin-bottom: 33px;
    font-size: 34px;
}

.top-videos-text span {
    color: #9494B6;
    text-transform: capitalize;
}

.youtube-videos-wrapper {
    padding: 20px;
    padding-left: 0px;
}

.youtube-videos-stack {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.practice-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
}

.videos-title {
    font-size: 20px;
    line-height: 1.5em;
    color: #000;
}

.videos-channel {
    font-size: 20px;
    line-height: 1.8em;
    color: #9494B6;
}